/* Styles for Feature Boxes */
.feature-boxes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.3rem 0;
    text-align: center;
}

.feature-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0 3rem;
}

.feature-box {
    text-align: center;
    flex: 1;
    padding: 1rem 6rem;
    margin: 20px;
    border: 1px solid #b2b2b2;
    max-width: 30rem;
    min-width: 25%;
}

.feature-box-img {
    width: 5rem;
    height: auto;
}

.feature-box-h3 {
    font-size: 20px;
    font-weight: bold;
}

.feature-box-p {
    font-size: 17px;
    color: black;
}

/* Media query */
@media (max-width: 1200px) {
    .feature-boxes {
        align-items: center;
    }

    .feature-box {
        padding: 1rem;
        max-width: 100%;
        min-width: 0;
    }
}


@media (max-width: 758px) {
    .feature-boxes {
        flex-direction: column;
        align-items: center;
    }

    .feature-box {
        padding: 1rem;
    }
}



