/* Styles for Recommended Slider */
.recommended-slider-container {
    padding-bottom: 1rem;
}

.recommended-slider-header {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider-divider {
    background-color: #daa14c;
    height: 3px;
    width: 40px;
    margin-top: 5px;
}

.row-container {
    display: flex;
    gap: 2.2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    position: relative;
    padding: 1rem .6rem;
}

.row-container::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.buttons-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.2rem !important;
}

.slider-buttons {
    display: flex;
    gap: .4rem;
}

.slider-buttons button {
    color: white;
    background-color: #373737;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    transition: all 0.1s ease-in;
}


.slider-buttons button:hover {
    background-color: black;
}