.contact-container {
    background-color: #f0ece4;
    padding: 40px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.contact-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form-container {
    padding: 0 30px 0;
}

.contact-form-field {
    border-radius: 0;
    border: 1px solid black;
}

.form-control.contact-form-field:focus {
    border-color: black;
    box-shadow: none;
}

.contact-button {
    margin-top: 2rem;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid black;
    transition: all 0.15s;
}

.contact-button:hover {
    background-color: transparent;
    color: black;
}

.contact-top-section {
    text-align: center;
}

.contact-section-title {
    font-size: 32px;
    line-height: 48px;
    font-family: spectral, serif;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    position: relative;
    margin-bottom: 11px;
}

.contact-divider {
    background-color: #b5a27a;
    height: 2px;
    display: inline-block;
    width: 173px;
}

.contact-txt {
    font-size: 16px;
    line-height: 21px;
    margin: 0 0 34px;
}

.contact-text-area {
    height: 150px;
}


/* BREAKPOINTS */
/* For large devices */
@media (max-width: 992px) {
    .contact-container {
        padding: 30px;
    }

    .contact-button {
        margin-top: 1rem;
        font-size: 1rem;
    }
}

/* For medium devices */
@media (max-width: 767px) {
    .contact-container {
        padding: 20px;
    }

    .contact-button {
        margin-top: 1rem;
        font-size: 1rem;
    }
}

@media (max-width: 450px) {
    .contact-top-section {
        margin-top: 1rem;
    }

    .contact-container {
        padding: 0;
    }

    .contact-button {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
}


