.cart-button {
    width: 3rem;
    height: 3rem;
    position: relative;
    margin-left: 3%;
}

.product-counter {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    bottom: -8px;
    right: -13px;
    transform: translate(25%, 25%);
    color: black;
}

.product-counter.bg-warning {
    background-color: #ffc107;
}