/* Styles for Recommended Item */
a {
    text-decoration: none;
}

.recommended-product-item {
    outline: 2px solid rgba(0, 0, 0, .205);
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.recommended-product-item:hover {
    outline: 2px solid rgba(0, 0, 0, .6);
}


.recommended-product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.recommended-product-price,
.recommended-product-name {
    color: black;
    text-align: center;
}

.recommended-product-description {
    font-size: 1.7rem;
    padding: 1rem;
}

.recommended-product-item {
    display: flex;
}
