/* Styles for Navbar */
.navbar-bg {
    background-color: white !important;
    border-bottom: 1px solid #30373e;
}

.accordion-button {
    background-color: white !important;
    color: black !important;
    font-size: 25px !important;
    font-family: Blinker, sans-serif;
    font-weight: bold;
    padding: 0 15px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
    position: relative;
    overflow: hidden;
}

.accordion-button.active {
    font-size: 25px !important;
    background-color: #f0f0f0;
    color: #b5a27a !important;
    border-bottom: 2px solid #b5a27a;
}

.accordion-button:hover {
    color: #b5a27a !important;
}

.me-auto {
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .accordion-button.active {
        border-bottom: 0;
    }
}


